<!DOCTYPE html>

<html>

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="icon.png" type="image/x-icon"/>
      <link href="style.css" rel="stylesheet">
   </head>

   <body>
      <h1>Request Header Parser Microservice</h1>
      <div class="container">
        

        <h3>Example Usage:</h3>
        <p>
          <a href="api/whoami">[base url]/api/whoami</a>
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5", "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      <footer>
        <p>Developed by Gabit</p>
      </footer>
   </body>


</html>
